*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #555;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    position: relative;
    width: 700px;
    height: 100vh;
    background-color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

h1 {
    padding: 30px 15px;
    font-size: 26px;
    color: #666;
}

.text-center {
    text-align: center;
}
#question {
    padding: 10px 0 20px;
}

.btn-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn {
    flex-basis: 45%;
    margin: 10px 0;
    padding: 10px;
    background-color: #498ad4;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 2px;
}

.controls {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.start-btn, .next-btn {
    letter-spacing: 2px;
}

.hide {
    display: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: #215249;
    color: #999;
    text-align: center;
}

.correct {
    background-color: #2fc12f;
}
.wrong {
    background-color: red;
}


@media (max-width: 720px) {
    .container {
        width: 100%;
    }

    .btn {
        flex-basis: 90%;
    }
}